<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- External Fonts -->
  

  <!-- FOUNDATION Style Sheet -->
  <link rel="stylesheet" href="/static-files/assets/css/foundation/foundation.css">
    <!-- Customized Sheet -->
  <link rel="stylesheet" href="/static-files/assets/css/custom/style.css">
  <!--Favicon -->
  {{!-- <link rel="shortcut icon" href="/public/assets/images/logos/favicon.ico" /> --}}
  <link rel="icon" type="image/png" sizes="48x48" href="/static-files/favicon.ico">





	<title>Project 2 Starter</title>
</head>

<body>
	{{{ body }}}
 

      <!-- FOUNDATION SCRIPT TAGS-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static-files/assets/js/vendor/what-input.js"></script>
    <script src="/static-files/assets/js/vendor/foundation.js"></script>

    <!-- Customized Script -->
     <script src="/static-files/assets/js/app.js"></script>
     {{!-- <script src="/static-files/assets/js/example.js"></script> --}}

    {{!-- <script src="/static-files/assets/js/script.js"></script> --}}
</body>

</html>