{{> nav/nav-block}}

{{!-- <div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>Sample App</strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        You are logged in as {{user.firstName}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
      {{else}}
        <p>You need to log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>  --}}

<section>
  <img src="/static-files/assets/images/characters/s_i_s_character.png" style="width: 20%; z-index:1; left: 240px; position: absolute;">
<div  id="intro-background" style="margin-top: 182px; background-color: #FFFDF5; height: 50vh; width: 100%; border-top: 3px solid #F28808; border-bottom: 3px solid #F28808; display:table; position: absolute; z-index: 0;
  vertical-align: middle;">
  <div class="grid-container" style="margin-top: 4vh;">
  <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div style="">
        
              <div class="login-box align-self-middle">
              <!-- Buttons -->
              <div class="grid-x grid-padding-x text-center">
                <!-- Sign-Up -->
                <div class="large-6 medium-6 cell" data-magellan data-options="animationEasing: linear; animationDuration: 3000">
                    <img style="margin-top: 7vh" src="/static-files/assets/images/logos/s_i_s_logo_orange.png">
                </div>
                <!-- Play button -->
                <div style="background-image: none!important" class="large-6 medium-6 cell login-box-social-section" data-magellan data-options="animationEasing: linear; animationDuration: 3000;">
                       <div class="login-box-social-section-inner">
                    <span class="login-box-social-headline"style="color:#F28808">Title<br />goes here!</span>
                    <a id="login-modal" class="login-box-social-button-facebook">Login</a>
                    <a id="register" class="login-box-social-button-twitter">Sign Up</a>
                    <a class="login-box-social-button-google">ignore this button</a>
                  </div>  
                  </div>
          </div>
      
        </div>
      </div>
    </div>
    </div>
    </div>
</div>
</div>
</section>
{{!-- 
<div class="grid-container">

<section>
<div class="content grid-x grid-padding-x">
      <div class="large-12 cell">
        <div style="height: 50vh">
        
          <h3 class="text-center">Heading</h3>
              <div class="login-box align-self-middle">
              <!-- Buttons -->
              <div class="grid-x grid-padding-x text-center">
                <!-- Sign-Up -->
                <div class="large-6 medium-6 cell" data-magellan data-options="animationEasing: linear; animationDuration: 3000">
                    <div class="login-box-form-section">
                      <h1 class="login-box-title">Sign up</h1>
                      <input class="login-box-input" type="text" name="username" placeholder="Username" />
                      <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
                      <input class="login-box-input" type="password" name="password" placeholder="Password" />
                      <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
                      <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
                    </div>
                </div>
                <!-- Play button -->
                <div class="large-6 medium-6 cell login-box-social-section" data-magellan data-options="animationEasing: linear; animationDuration: 3000;">
                       <div class="login-box-social-section-inner">
                    <span class="login-box-social-headline">Sign in with<br />your social network</span>
                    <a class="login-box-social-button-facebook">Log in with facebook</a>
                    <a class="login-box-social-button-twitter">Log in with Twitter</a>
                    <a class="login-box-social-button-google">Log in with Google+</a>
                  </div>  
                  </div>
          </div>
      
        </div>
      </div>
    </div>
    </div>
    </div>
  </section> --}}



