{{> nav/nav-block user=false register=true}}

<div class="container">
  <div class="row">
    <div class="col col-md-12">
      <header class="create-user-wrap header-wrap" align="center">
        <h1>Student Data</h1>
        <h3 id="create-err-msg"></h3>
      </header>

      <h3 id="err-msg"></h3>

      <form id= "create-form">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentFirstName">First Name</label>
            <input type="text" class="form-control" id="studentFirstName" placeholder="John">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentLastName">Last Name</label>
            <input type="text" class="form-control" id="studentLastName" placeholder="Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentBirthDate">Birthdate (Format: YYYY-MM-DD)</label>
            <input type="text" class="form-control" id="studentBirthDate" placeholder="2015-01-17">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentGender">Gender</label>
            <input type="text" class="form-control" id="studentGender" placeholder="Male or Female">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentEthnicity">Ethnicity</label>
            <input type="text" class="form-control" id="studentEthnicity" placeholder="Hispanic or non-Hispanic">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentLanguage">What language do you speak at home?</label>
            <input type="text" class="form-control" id="studentLanguage" placeholder="English / Spanish">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="emergencyContactName">Emergency Contact Name</label>
            <input type="text" class="form-control" id="emergencyContactName" placeholder="John Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="emergencyContactPhone">Emergency Contact Phone Number</label>
            <input type="text" class="form-control" id="emergencyContactPhone" placeholder="(919) 999-9999">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="emergencyContactRelation">Emergency Contact Relationship</label>
            <input type="text" class="form-control" id="emergencyContactRelation" placeholder="Grandparent">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="doctorName">Doctor's Name</label>
            <input type="text" class="form-control" id="doctorName" placeholder="John Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="doctorPhone">Doctor's Phone Number</label>
            <input type="text" class="form-control" id="doctorPhone" placeholder="(919) 999-9999">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="dentistName">Dentist's Name</label>
            <input type="text" class="form-control" id="dentistName" placeholder="John Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="dentistPhone">Dentist's Phone Number</label>
            <input type="text" class="form-control" id="dentistPhone" placeholder="(919) 999-9999">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="allergyDescription">Allergies (if any)</label>
            <input type="text" class="form-control" id="allergyDescription" placeholder="Peanuts">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentFirstName">Your First Name</label>
            <input type="text" class="form-control" id="parentFirstName" placeholder="John">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentLastName">Your Last Name</label>
            <input type="text" class="form-control" id="studentLastName" placeholder="Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentEmail">Email</label>
            <input type="text" class="form-control" id="parentEmail" placeholder="me@yahoo.com">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="custodyRelation">Relationship</label>
            <input type="text" class="form-control" id="custodyRelation" placeholder="Mother / Father / Grandparent">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="livingWith">Does the student live with you?</label>
            <input type="text" class="form-control" id="livingWith" placeholder="Yes or No">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="employer">Who is your employer?</label>
            <input type="text" class="form-control" id="employer" placeholder="IBM">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="streetAddress">Street Address</label>
            <input type="text" class="form-control" id="streetAddress" placeholder="311 Main Street">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Durham">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="NC">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="zipcode">Zip Code</label>
            <input type="text" class="form-control" id="zipcode" placeholder="27713">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentPhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="parentPhoneNumber" placeholder="(919) 999-9999">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentFirstName">Your First Name</label>
            <input type="text" class="form-control" id="parentFirstName" placeholder="John">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentLastName">Your Last Name</label>
            <input type="text" class="form-control" id="studentLastName" placeholder="Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parentEmail">Email</label>
            <input type="text" class="form-control" id="parentEmail" placeholder="me@yahoo.com">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="custodyRelation">Relationship</label>
            <input type="text" class="form-control" id="custodyRelation" placeholder="Mother / Father / Grandparent">
          </div>
        </div>

        <div>
          <h2 id="message"></h2>
        </div>

        <button type="submit" id="add-user" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>