<section id="add-child"> 
  <div class="content">
    <div class="grid-container">
      <!-- Tab headings -->
      <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
        <li class="tabs-title"><a href="#panel1d" aria-selected="true" class="is-active">General</a></li>
        <li class="tabs-title"><a href="#panel2d">Emergency Information</a></li>
        <li class="tabs-title"><a href="#panel3d">Allergies</a></li>
        <li class="tabs-title"><a href="#panel4d">Notes</a></li>
      </ul>
      <!-- Table Headings -->
      <div class="tabs-content">
        <!-- Section 1: General -->
        <div class="tabs-panel" id="panel1d">
          <form id= "create-form">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="John">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Doe">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="birthDate">Birthdate (Format: YYYY-MM-DD)</label>
                  <input type="text" class="form-control" id="birthDate" placeholder="2015-01-17">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="gender">Gender</label>
                  <input type="text" class="form-control" id="gender" placeholder="Male or Female">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="ethnicity">Ethnicity</label>
                  <input type="text" class="form-control" id="ethnicity" placeholder="Hispanic or non-Hispanic">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="language">What language do you speak at home?</label>
                  <input type="text" class="form-control" id="language" placeholder="English / Spanish">
                </div>
              </div>
              <div class="form-row">
                <label for="exampleFileUpload" class="button">Upload File</label>
                <input type="file" id="exampleFileUpload" class="show-for-sr">
                </div>
            <a type="submit" id="new-student-main" class="button expanded">Next</a>
          </form>
        </div>
        <!-- Section 2: Emergency Information -->
        <div class="tabs-panel" id="panel2d">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="emergencyContactName">Emergency Contact Name</label>
                <input type="text" class="form-control" id="emergencyContactName" placeholder="John Doe">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="emergencyContactPhone">Emergency Contact Phone Number</label>
                <input type="text" class="form-control" id="emergencyContactPhone" placeholder="(919) 999-9999">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="emergencyContactRelation">Emergency Contact Relationship</label>
                <input type="text" class="form-control" id="emergencyContactRelation" placeholder="Grandparent">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="doctorName">Doctor's Name</label>
                <input type="text" class="form-control" id="doctorName" placeholder="John Doe">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="doctorPhone">Doctor's Phone Number</label>
                <input type="text" class="form-control" id="doctorPhone" placeholder="(919) 999-9999">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="dentistName">Dentist's Name</label>
                <input type="text" class="form-control" id="dentistName" placeholder="John Doe">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="dentistPhone">Dentist's Phone Number</label>
                <input type="text" class="form-control" id="dentistPhone" placeholder="(919) 999-9999">
              </div>
            </div>

            <a type="submit" id="new-student-medical-info" class="button expanded">Next</a>
          </form>
        </div>
        <!-- Section 3: Allergies -->
        <div class="tabs-panel" id="panel3d">
          <form>

            <div class="form-row">
              <!-- Checkbox for allergies -->
              <div class="form-group col-md-12">
                <div class="grid-x grid-padding-x">
                  <fieldset>
                    <legend>Does Your child have any allergies?</legend>
                    <input type="checkbox" name="confirm-allergies" value="yes" id="confirm-allergies-yes"><label for="confirm-allergies-yes">Yes</label>
                    <input type="checkbox" name="confirm-allergies" value="no" id="confirm-allergies-no"><label for="confirm-allergies-no">No</label>
                  </fieldset>
                </div>
                <label for="allergyDescription">Allergies (if any)</label>
                <input type="text" class="form-control" id="allergyDescription" placeholder="Peanuts">
              </div>
            </div>

            <div class="grid-x grid-padding-x">
              <fieldset>
                <legend>If you answered yes, how severe are your child's allergies?</legend>
                <input type="radio" name="allergies" value="Life-Threatening" id="Life-Threatening"><label for="Life-Threatening">life Threatening</label>
                <input type="radio" name="allergies" value="Blue" id="Severe"><label for="Severe">Severe</label>
                <input type="radio" name="allergies" value="Yellow" id="Moderate"><label for="Moderate">Moderate</label>
              </fieldset>
            </div>

            <a type="submit" id="new-student-allergy" class="button expanded">Next</a>
          </form>
        </div>
        <!-- Section 4: Notes --> 
        <div class="tabs-panel" id="panel4d">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="parent-notes"></label>
                <div class="large-12 columns">
                  <fieldset>
                    <legend>Additional notes for the teacher. </legend>
                    <textarea placeholder="Additional notes" id="notes"></textarea>
                  </fieldset>
                </div>
              </div>
            </div>
            <a type="submit" id="add-new-student" class="button expanded">Submit Information</a>
          </form>  
        </div>

      </div>
    </div>
  </div>
</section>  <!-- End of Add Child Section -->