
<section class="filter-simple">
    <div class="content">
        <div class="grid-container">
            <!-- Filter Titles --> 
            <div class="button-group round">
                <button class="button hollow filter-simple-button is-active" data-filter="all">Class Roster</button>
                <button class="button hollow filter-simple-button" data-filter="allergies">Allergies</button>
                <button class="button hollow filter-simple-button" data-filter="approvedPickup">Approved Pickup</button>
            </div>

            <div class="row small-up-2 medium-up-3 large-up-4">
                <div class="grid-x grid-padding-x text-center">
<!-- EDIT Below this line.. these are placeholder images for filtering --> 
                    <div class="large-3 cell filter-simple-item allergies">
                        <img class="allergies" src="https://spaceholder.cc/350x350" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item nature">
                        <img src="https://placeimg.com/350/350/nature" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item animals">
                        <img src="https://placeimg.com/350/350/animals" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item animals">
                        <img src="https://placeimg.com/350/350/animals" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item animals">
                        <img src="https://placeimg.com/350/350/animals" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item nature">
                        <img src="https://placeimg.com/350/350/nature" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item nature">
                        <img src="https://placeimg.com/350/350/nature" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item animals">
                        <img src="https://placeimg.com/350/350/animals" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item nature">
                        <img src="https://placeimg.com/350/350/nature" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item animals">
                        <img src="https://placeimg.com/350/350/animals" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item space">
                        <img src="https://spaceholder.cc/350x350" alt="" />
                    </div>
                    <div class="large-3 cell filter-simple-item space">
                        <img src="https://spaceholder.cc/350x350" alt="" />
                    </div>
                </div>
            </div>
    </div>
  </div>
</section> <!-- End of filtering section --> 

