
<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" style="background-color: #F7CD1C!important" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="grid-container">
      <div style="background-color: #F7CD1C!important" class="top-bar">

        <div class="top-bar-left">
            <a style="background-color: transparent; color: #FFFDF5;" type="button" class="button header-button" data-toggle="offCanvasLeft1">Dashboard</a>
        </div>

        <div class="row top-bar-right"style="display: flex">
            <a href="/login" style="color: #FFFDF5;">Logout</a>
        </div>
        
      </div>
    </div>
  </div>
</div>